Repository cnkang/sudoku: changes, and which lint-staged commands are due for each by the changed paths.
All: biome lint --write, biome format --write

fix(sonar): resolve open issues on main
  e2e/accessibility.spec.ts
  scripts/validate-commit-msg.sh
  scripts/validate-contrast.ts
  src/app/api/_lib/__tests__/serverCache.test.ts
  src/app/api/_lib/csrf.ts
  src/app/api/_lib/monitoringStore.ts
  src/app/api/_lib/security.ts
  src/app/api/_lib/serverCache.ts
  src/app/api/monitoring/route.ts
  src/app/api/solveSudoku/__tests__/route.test.ts
  src/app/layout.tsx
  src/components/LazyGridComponents.tsx
  src/components/ModernSudokuApp.module.css
  src/components/MonitoringInit.tsx
  src/components/PWAGridSelector.tsx
  src/components/decorative/GeometricShapes.tsx
  src/components/decorative/__tests__/GeometricShapes.test.tsx
  src/lib/security/__tests__/nonce.test.ts
  src/lib/security/csp.ts
  src/lib/validation/__tests__/sanitization.test.ts
  src/lib/validation/sanitization.ts
  src/styles/design-system.css
  src/utils/errorSanitization.ts
  src/utils/requestDeduplication.ts
  src/utils/securityLogger.ts
Due: biome lint --write, biome format --write

fix(ci): unblock dts commits and improve e2e contrast
  .lintstagedrc.json
  next-env.d.ts
  src/components/SudokuGrid.module.css
Due: biome lint --write, biome format --write

fix(sonar): resolve final open issue on main
  src/lib/validation/sanitization.ts
Due: biome lint --write, biome format --write

build(deps): update pnpm to 10.32.1 and refresh lockfile
  package.json
  pnpm-lock.yaml
Due: biome format --write

deps: upgrade next, vite, vitest and dev dependencies
  package.json
  pnpm-lock.yaml
Due: biome format --write

fix(security): override flatted to 3.4.2
  package.json
  pnpm-lock.yaml
Due: biome format --write

chore(deps): upgrade dependencies and node lts
  .nvmrc
  README.md
  README.zh-cn.md
  biome.json
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: biome lint --write, biome format --write

chore(security): upgrade deps and ignore CVE-2025-59472
  osv-scanner.toml
  package.json
  pnpm-lock.yaml
Due: biome format --write

chore(security): add expiry metadata for osv ignore
  osv-scanner.toml
Due: none

fix(ci): keep pnpm action on v4.4.0
  .github/workflows/pnpm-test.yml
Due: none

chore: update dependencies
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome format --write

fix(security): align osv exception with current next version
  osv-scanner.toml
Due: none

fix(security): bump ws to 8.20.1
  package.json
  pnpm-lock.yaml
Due: biome format --write

chore(deps): upgrade pnpm to 11.6.0
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome format --write

fix(deps): patch esbuild security advisories
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deploy): pin vercel pnpm install
  .nvmrc
  vercel.json
Due: biome format --write

fix(deps): bump ws to patched 8.21.0
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(ci): support TypeScript 7 with Next.js 16.2
  next.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: biome lint --write, biome format --write

refactor(game): extract validated puzzle actions
  src/components/ModernSudokuApp.tsx
  src/hooks/__tests__/useGameTimer.test.ts
  src/hooks/__tests__/usePuzzleActions.test.ts
  src/hooks/useGameTimer.ts
  src/hooks/usePuzzleActions.ts
  src/utils/__tests__/sudokuPuzzleSchema.test.ts
  src/utils/sudokuPuzzleSchema.ts
Due: biome lint --write, biome format --write

build(next): remove unused webpack chunk config
  next.config.ts
Due: biome lint --write, biome format --write

refactor(feedback): separate behavior from display
  src/components/FeedbackDisplay.tsx
  src/components/VisualFeedbackSystem.tsx
  src/components/__tests__/FeedbackDisplay.test.tsx
  src/components/feedbackTypes.ts
  src/hooks/__tests__/useFeedbackController.test.ts
  src/hooks/useFeedbackController.ts
Due: biome lint --write, biome format --write

docs(design): document stable Next.js refactor
  docs/superpowers/plans/2026-07-16-stable-next-ts7-refactor.md
  docs/superpowers/specs/2026-07-16-stable-next-ts7-refactor-design.md
Due: none

feat(timer): dispatch single TICK with elapsed payload instead of multiple ticks
  src/hooks/__tests__/useGameTimer.test.ts
  src/hooks/useGameState.ts
  src/hooks/useGameTimer.ts
  src/types/index.ts
Due: biome lint --write, biome format --write

refactor(feedback): improve timer tracking, cleanup, and element restoration
  src/hooks/useFeedbackController.ts
Due: biome lint --write, biome format --write

Path conditions:
  biome lint --write: any of: *.{js,jsx,ts,tsx}
  biome format --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
