Repository cnkang/sudoku: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css,yml,yaml}": ["prettier --write"]
}

refactor: translate all Chinese comments to English
  src/app/api/solveSudoku/cache.ts
  src/app/api/solveSudoku/route.ts
  src/app/api/solveSudoku/sudokuGenerator.ts
  src/app/globals.css
  src/app/page.tsx
  src/app/responsive.css
  src/components/DifficultySelector.tsx
  src/components/GameControls.tsx
  src/components/Timer.tsx
  src/utils/apiCache.ts
Due: eslint --fix, prettier --write

feat: enhance ESLint configuration for test files
  eslint.config.mjs
Due: none

feat: add shared test utilities and reusable test suites
  src/components/__tests__/shared-test-suites.ts
  src/components/__tests__/test-utils.ts
Due: eslint --fix, prettier --write

test: refactor and enhance component tests
  src/app/api/solveSudoku/__tests__/cache.test.ts
  src/components/__tests__/DifficultySelector.test.tsx
  src/components/__tests__/GameControls.test.tsx
  src/components/__tests__/Timer.test.tsx
Due: eslint --fix, prettier --write

feat: add SonarCloud Automatic Analysis configuration
  README.md
  sonar-project.properties
Due: prettier --write

feat: add Kiro steering configuration
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: prettier --write

feat: add centralized validation and error handling utilities
  src/utils/error-handling.ts
  src/utils/validation.ts
Due: eslint --fix, prettier --write

feat: add centralized test utilities
  src/test-utils/common-test-setup.ts
  src/test-utils/component-props-factory.ts
Due: eslint --fix, prettier --write

feat: add centralized responsive CSS utilities
  src/styles/responsive-mixins.css
Due: prettier --write

config: add path alias resolution to Vite config
  vite.config.ts
Due: eslint --fix, prettier --write

refactor: migrate API and utilities to use centralized error handling
  src/app/api/solveSudoku/route.ts
  src/utils/hints.ts
  src/utils/stats.ts
Due: eslint --fix, prettier --write

refactor: update components to use centralized utilities
  src/components/DifficultySelector.tsx
  src/components/SudokuGrid.tsx
  src/components/Timer.tsx
Due: eslint --fix, prettier --write

refactor: migrate test files to use centralized test utilities
  src/components/__tests__/GameControls.test.tsx
  src/components/__tests__/test-utils.ts
Due: eslint --fix, prettier --write

feat: optimize test coverage and configuration
  package.json
  src/app/api/solveSudoku/__tests__/route.test.ts
  src/test-setup.ts
  src/utils/__tests__/error-handling.test.ts
  src/utils/__tests__/validation.test.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix: add yarn cache to GitHub Actions workflow
  .github/workflows/yarn-test.yml
Due: prettier --write

fix: remove yarn cache to fix Corepack version conflict
  .github/workflows/yarn-test.yml
Due: prettier --write

fix: disable yarn global cache to prevent version conflicts
  .github/workflows/yarn-test.yml
Due: prettier --write

fix: implement proper Yarn 4 caching with actions/cache
  .github/workflows/yarn-test.yml
Due: prettier --write

fix: simplify yarn cache path to avoid restoration conflicts
  .github/workflows/yarn-test.yml
Due: prettier --write

fix: disable setup-node package-manager-cache to prevent yarn conflicts
  .github/workflows/yarn-test.yml
Due: prettier --write

fix: use setup-node corepack integration for automatic yarn version
  .github/workflows/yarn-test.yml
Due: prettier --write
