Repository cnkang/sudoku: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: use setup-node corepack integration for automatic yarn version
  .github/workflows/yarn-test.yml
Due: prettier --write

fix: revert to manual corepack enable with disabled package cache
  .github/workflows/yarn-test.yml
Due: prettier --write

chore: update vite resolution to ^7.1.7
  package.json
  yarn.lock
Due: prettier --write

security: update GitHub Actions to follow best practices
  .github/workflows/osv-scanner.yml
  .github/workflows/yarn-test.yml
Due: prettier --write

feat: add Playwright E2E testing with CI/CD optimization
  .github/dependabot.yml
  .github/workflows/yarn-test.yml
  e2e/sudoku.spec.ts
  package.json
  playwright.config.ts
  scripts/install-playwright.sh
  src/app/api/health/route.ts
Due: eslint --fix, prettier --write

chore: remove Yarn configuration files
  .github/workflows/yarn-test.yml
  .husky/pre-commit
  .yarnrc.yml
  yarn.lock
Due: prettier --write

feat: add pnpm configuration
  .pnpmrc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

feat: migrate package.json to pnpm and upgrade dependencies
  package.json
Due: prettier --write

chore: update scripts to use pnpm
  scripts/install-playwright.sh
  scripts/test-responsive.sh
Due: none

ci: migrate GitHub Actions to pnpm
  .github/dependabot.yml
  .github/workflows/pnpm-test.yml
Due: prettier --write

docs: update steering files and configuration
  .husky/commit-msg
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  .nvmrc
Due: prettier --write

security: use full SHA hash for pnpm/action-setup
  .github/workflows/pnpm-test.yml
Due: prettier --write

fix: resolve CI issues and remove deprecated dependencies
  .github/workflows/pnpm-test.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: complete yarn to pnpm migration and improve E2E tests
  .github/workflows/pnpm-test.yml
  .prettierignore
  README.md
  README.zh-cn.md
  e2e/sudoku.spec.ts
  playwright.config.ts
Due: eslint --fix, prettier --write

fix: resolve Next.js cache handler issues in production
  next.config.mjs
  package.json
Due: prettier --write

fix(e2e): resolve E2E test timeout issues in CI environment
  .github/workflows/pnpm-test.yml
  .gitignore
  e2e/api.spec.ts
  e2e/smoke.spec.ts
  e2e/sudoku.spec.ts
  playwright.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: update happy-dom to v20.0.5
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update pnpm version to 10.18.3 in GitHub workflows
  .github/workflows/pnpm-test.yml
Due: prettier --write

feat: upgrade to Next.js 16 with Turbopack and React Compiler
  next-env.d.ts
  next.config.mjs
  react-compiler.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write

perf: add React Compiler annotations to performance-critical components
  src/components/GameControls.tsx
  src/components/SudokuGrid.tsx
Due: eslint --fix, prettier --write

chore: upgrade pnpm to 10.19.0
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,css,yml,yaml})
